{
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}

// this is needed by webpack so that we dont have to individually 'transpile' every file
/*

Babel, which is being used as a "loader" by webpack, will use these npm packages
to handle transpiling jsx into browser-readable JavaScript.
(you already installed these npm packages via package.json)

*/